body {
    text-align: center;
}

.App {
    display: grid;
    grid-template-columns: repeat(3, 1Fr);
    margin: 40px;
    min-height: calc(100vh - 80px);
    justify-content: start;
  }

.Heading {
    grid-column: span 3;
}

.Component {
    grid-column: span 3;
    justify-content: center;
}